body.vscode-dark {
    background-color: initial;
}

body.vscode-dark h1 {
    color: white;
}

body.vscode-dark .form-group {
    color: white;
}

body.vscode-dark .opensslutils {
    background: transparent;
    outline: none;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid white;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}
body.vscode-dark select.opensslutils {
  padding-left: 0px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%232171ca'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
}

body.vscode-dark select.opensslutils option {
  color: black;
}

:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
    --primary: #2171ca;
  }

  body.vscode-dark .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  body.vscode-dark .form-label-group > input,
  body.vscode-dark .form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }

  body.vscode-dark .form-label-group > input {
      padding-left: 0;
  }
  
  body.vscode-dark .form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  

  body.vscode-dark .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  body.vscode-dark .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  body.vscode-dark .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  body.vscode-dark .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  body.vscode-dark .form-label-group input::placeholder {
    color: transparent;
  }
  
  body.vscode-dark .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  body.vscode-dark .form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }

  

body.vscode-light {
    background-color: initial;
}

body.vscode-light h1 {
    color: black;
}

body.vscode-light .form-group {
    color: black;
}

body.vscode-light .opensslutils {
    background: transparent;
    outline: none;
    color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid black; 
}

body.vscode-light select.opensslutils {
  padding-left: 0px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%232171ca'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
}



  body.vscode-light .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  body.vscode-light .form-label-group > input,
  body.vscode-light .form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }

  body.vscode-light .form-label-group > input {
      padding-left: 0;
  }
  
  body.vscode-light .form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  body.vscode-light .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  body.vscode-light .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  body.vscode-light .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  body.vscode-light .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  body.vscode-light .form-label-group input::placeholder {
    color: transparent;
  }
  
  body.vscode-light .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  body.vscode-light .form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
  }


/* high contrast */

body.vscode-high-contrast {
    background-color: initial;
}

body.vscode-high-contrast h1 {
    color: orange;
}

body.vscode-high-contrast .form-group {
    color: orange;
}

body.vscode-high-contrast .opensslutils {
    background: transparent;
    outline: none;
    color: orange;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid white; 
}

body.vscode-high-contrast select.opensslutils {
  padding-left: 0px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%232171ca'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
}


  body.vscode-high-contrast .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  body.vscode-high-contrast .form-label-group > input,
  body.vscode-high-contrast .form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
  }

  body.vscode-high-contrast .form-label-group > input {
      padding-left: 0;
  }
  
  body.vscode-high-contrast .form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: orchid;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  body.vscode-high-contrast .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  body.vscode-high-contrast .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  body.vscode-high-contrast .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  body.vscode-high-contrast .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  body.vscode-high-contrast .form-label-group input::placeholder {
    color: transparent;
  }
  
  body.vscode-high-contrast .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
  }
  
  body.vscode-high-contrast .form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: orchid;
  }



